{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
<div class="container">
    <h4>Inscrivez-vous !</h4>
    <div class="login-form">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nomUser) }}
        {{ form_row(registrationForm.prenomUser) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Votre mot de passe'
        }) }}


        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}