{% extends 'baseAdmin.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block body %}
<div class="container">
    <h4>Messages</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sujet du message</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.dateCreationContact ?
                    contact.dateCreationContact|date('d-m-Y') : '' }}</td>
                <td>{{ contact.nomContact }}</td>
                <td>{{ contact.prenomContact }}</td>
                <td>{{ contact.sujetContact }}</td>

                <td class="groupe-boutons">

                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">
                        <button type="button" class="btn btn-warning">Voir</button>
                    </a>

                    {{ include('contact/_delete_form.html.twig') }}

                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">Aucun message trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}