{% extends 'baseAdmin.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
<h4>{{ contact.sujetContact }}</h4>

<table class="table">
    <tbody>
        <tr>
            <th>Date de la demande</th>
            <td>{{ contact.dateCreationContact ?
                contact.dateCreationContact|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ contact.nomContact }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ contact.prenomContact }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ contact.emailContact }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ contact.telephoneContact }}</td>
        </tr>
        <tr>
            <th>Sujet</th>
            <td>{{ contact.sujetContact }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ contact.messageContact }}</td>
        </tr>
    </tbody>
</table>


{{ include('contact/_delete_form.html.twig') }}
{% endblock %}