{% extends 'baseAdmin.html.twig' %}

{% block title %}Demandes de prestation{% endblock %}

{% block body %}
<div class="container">
    <h4>Demandes de prestation</h4>
    <p>Retrouvez ici toutes les demandes de prestation envoyées via le formulaire dédié sur le site. Pensez à supprimer
        les
        demandes
        traitées !</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date de la demande</th>
                <th>Nom de la prestation</th>
                <th>Date voulue de la prestation</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for demande_prestation in demande_prestations %}
            <tr>
                <td>{{ demande_prestation.dateCreationPrestation ?
                    demande_prestation.dateCreationPrestation|date('d-m-Y') : '' }}</td>
                <td>{{ demande_prestation.nomPrestation }}</td>
                <td>{{ demande_prestation.datePrestation ? demande_prestation.datePrestation|date('d-m-Y') : '' }}</td>

                <td class="groupe-boutons">

                    <a href="{{ path('app_demande_prestation_show', {'id': demande_prestation.id}) }}">
                        <button type="button" class="btn btn-warning">Voir</button>
                    </a>

                    {{ include('demande_prestation/_delete_form.html.twig') }}

                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="11">Aucune demande de prestation trouvée</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}