{% extends 'baseAdmin.html.twig' %}

{% block title %}Demande de prestation{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ demande_prestation.nomPrestation }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la prestation</th>
                <td>{{ demande_prestation.nomPrestation }}</td>
            </tr>
            <tr>
                <th>Date voulue de la prestation</th>
                <td>{{ demande_prestation.datePrestation ? demande_prestation.datePrestation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de début </th>
                <td>{{ demande_prestation.heureDebutPrestation }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ demande_prestation.heureFinPrestation }}</td>
            </tr>
            <tr>
                <th>Type de prestation</th>
                <td>{{ demande_prestation.typePrestation }}</td>
            </tr>
            <tr>
                <th>Informations supplémentaires</th>
                <td>{{ demande_prestation.informationsPrestation }}</td>
            </tr>
            <tr>
                <th>Nombre minimum de sonneurs</th>
                <td>{{ demande_prestation.nbMinimumSonneursPrestation }}</td>
            </tr>
            <tr>
                <th>Email du demandeur</th>
                <td>{{ demande_prestation.emailDemandeurPrestation }}</td>
            </tr>
            <tr>
                <th>Téléphone du demandeur</th>
                <td>{{ demande_prestation.telephoneDemandeurPrestation }}</td>
            </tr>
        </tbody>
    </table>


    {{ include('demande_prestation/_delete_form.html.twig') }}
</div>
{% endblock %}