{% extends 'baseAdmin.html.twig' %}

{% block title %}Demande de prestation{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ demande_prestation.nomPrestation }}</h4>

    <table class="table">
        <tbody>
            <tr class="row">
                <th class="col-md-4">Nom de la prestation</th>
                <td class="col-md-8">{{ demande_prestation.nomPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Date voulue de la prestation</th>
                <td class="col-md-8">{{ demande_prestation.datePrestation ?
                    demande_prestation.datePrestation|date('d-m-Y') : '' }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Heure de début </th>
                <td class="col-md-8">{{ demande_prestation.heureDebutPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Heure de fin</th>
                <td class="col-md-8">{{ demande_prestation.heureFinPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Type de prestation</th>
                <td class="col-md-8">{{ demande_prestation.typePrestation }}</td>
            </tr>

            <tr class="row">
                <th class="col-md-4">Nombre minimum de sonneurs</th>
                <td class="col-md-8">{{ demande_prestation.nbMinimumSonneursPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Email du demandeur</th>
                <td class="col-md-8">{{ demande_prestation.emailDemandeurPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Téléphone du demandeur</th>
                <td class="col-md-8">{{ demande_prestation.telephoneDemandeurPrestation }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Informations supplémentaires</th>
                <td class="col-md-8">{{ demande_prestation.informationsPrestation }}</td>
            </tr>
        </tbody>
    </table>

    <div class="centrer">
        {{ include('demande_prestation/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}