{% extends 'baseAdmin.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<div class="container">
    <h4>Cours de {{ cour.instrumentCours }}</h4>

    <table class="table">
        <tbody>
            <tr class="row">
                <th class="col-md-4">Instrument</th>
                <td class="col-md-8">{{ cour.instrumentCours }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Public du cours</th>
                <td class="col-md-8">{{ cour.publicCours }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Jour</th>
                <td class="col-md-8">{{ cour.jourCours }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Heure de début</th>
                <td class="col-md-8">{{ cour.heureDebutCours }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Heure de fin</th>
                <td class="col-md-8">{{ cour.heureFinCours }}</td>
            </tr>
            <tr class="row">
                <th class="col-md-4">Lieu</th>
                <td class="col-md-8">{{ cour.lieuCours }}</td>
            </tr>

            <tr class="row">
                <th class="col-md-4">Ville</th>
                <td class="col-md-8">{{ cour.villeCours }}</td>
            </tr>
        </tbody>
    </table>


    <div class="form-button">
        <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">
            <button type="button" class="btn btn-success">Editer</button>
        </a>
    </div>

</div>
{% endblock %}