{% extends 'baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h4>Utilisateurs enregistrés</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.email }}</td>
                <!-- <td>{{ user.roles ? user.roles|json_encode : '' }}</td> -->
                
                <td class="groupe-boutons">

                    <a href="{{ path('app_user_show', {'id': user.id}) }}">
                        <button type="button" class="btn btn-warning">Voir</button>
                    </a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">
                        <button type="button" class="btn btn-success">Editer</button>
                    </a>
                    {{ include('user/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
