{% extends 'baseAdmin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    <h4>{{ user.prenomUser }} {{ user.nomUser }}</h4>

    <table class="table">
        <tbody> 
            <tr>
                <th>Nom</th>
                <td>{{ user.nomUser }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenomUser }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            
        </tbody>
    </table>

    <div class="form-button">
        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
            <button type="button" class="btn btn-success">Editer</button>
        </a>
    </div>
</div>
{% endblock %}
