{% extends 'base.html.twig' %}

{% block title %}Les cours et répétitions - Bagad Orvez{% endblock %}

{% block body %}
<section id="cours-repetitions">
    <h2>Les cours et les répétitions</h2>
    <p>Les <strong>cours</strong> sont essentiels pour progresser au niveau musical, y compris pour les sonneurs
        confirmés.
        Ils durent entre 30 minutes et 1 heure en fonction du niveau et de l’âge du sonneur.</p>

    <div class="centrer">
        <div id="img-cours"></div>
    </div>

    <p>La grille des cours est la suivante pour {% for parametre in parametres %}
        {{ parametre.anneeScolaireEnCoursParametre }}
        {% endfor %}:</p>
    <ul>
        {% for cour in cours %}

        <li>{{ cour.instrumentCours }} {{ cour.publicCours }} le {{ cour.jourCours }} de {{ cour.heureDebutCours }} à {{
            cour.heureFinCours }} à {{ cour.lieuCours }} ({{ cour.villeCours }})</li>

        {% endfor %}
    </ul>

    <p>Le prix des cours est de seulement
        {% for parametre in parametres %}
        {{ parametre.prixCoursParametre }}
        {% endfor %}
        € annuel, <strong>prix très avantageux</strong> financé grâce aux sorties
        payantes effectuée par le Bagad en solidarité avec les débutants.</p>
    <p>Une <strong>journée porte ouverte</strong> sera organisée en juin ou septembre et permettra à tout un chacun de
        venir poser les questions et éventuellement essayer certains instruments.</p>

    <p>Les <strong>inscriptions</strong> doivent se faire en début d’année. Toute demande en cours d’année devra faire
        l'objet d'un examen particulier pour voir si les conditions d'intégration sont réunies.</p>

    <p>Les répétitions en ensemble sont effectuées le
        <strong>
            {% for parametre in parametres %}
            {{ parametre.momentRepetitionParametre }}
            {{ parametre.lieuRepetitionParametre }}
            {% endfor %}
        </strong>
        . Les sonneurs en formation sont les bienvenus pour commencer à
        s'imprégner de leur déroulement et s’intégrer. Le pôt de l’amitié clôture chaque répétition et
        permettra à l'ensemble de partager un <strong>moment convivial</strong> avant de « reprendre une activité »
        normale.
    </p>

    <div id="illustration-repetition">
        <div id="photo-repetition"></div>
    </div>
</section>
{% endblock %}