{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<section id="galerie">
        <h2>Galerie photos</h2>
        <p>Retrouvez ici quelques photos du bagad en prestation :</p>
        <div class="container" id="conteneur-photos">
                <a href="{{ asset('photos/1.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/1.png') }}"
                                alt="Bagad Orvez"></a>
                <a href="{{ asset('photos/2.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/2.png') }}"
                                alt="Bagad Orvault"></a>
                <a href="{{ asset('photos/3.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/3.png') }}"
                                alt="musique bretonne"></a>
                <a href="{{ asset('photos/4.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/4.png') }}"
                                alt="ensemble musical"></a>
                <a href="{{ asset('photos/5.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/5.png') }}"
                                alt="cornemuse"></a>
                <a href="{{ asset('photos/6.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/6.png') }}"
                                alt="bombarde"></a>
                <a href="{{ asset('photos/7.png') }}" data-lightbox="mygallery"><img src="{{ asset('photos/7.png') }}"
                                alt="caisse claire"></a>
                <a href="{{ asset('photos/8.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/8.jpg') }}"
                                alt="percussions"></a>
                <a href="{{ asset('photos/9.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/9.jpg') }}"
                                alt="prestation"></a>
                <a href="{{ asset('photos/10.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/10.jpg') }}"
                                alt="prestation musicale"></a>
                <a href="{{ asset('photos/11.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/11.jpg') }}"
                                alt="défilé"></a>
                <a href="{{ asset('photos/12.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/12.jpg') }}"
                                alt="scène"></a>
                <a href="{{ asset('photos/13.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/13.jpg') }}"
                                alt="cours de musique"></a>
                <a href="{{ asset('photos/14.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/14.jpg') }}"
                                alt="école de musique"></a>
                <a href="{{ asset('photos/15.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/15.jpg') }}"
                                alt="musique"></a>
                <a href="{{ asset('photos/16.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/16.jpg') }}"
                                alt="répétition musicale"></a>
                <a href="{{ asset('photos/17.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/17.jpg') }}"
                                alt="Orvault"></a>
                <a href="{{ asset('photos/18.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/18.jpg') }}"
                                alt="Loire Atlantique"></a>
                <a href="{{ asset('photos/19.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/19.jpg') }}"
                                alt="Nantes"></a>
                <a href="{{ asset('photos/20.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/20.jpg') }}"
                                alt="musique région nantaise"></a>
                <a href="{{ asset('photos/22.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/22.jpg') }}"
                                alt="concert"></a>
                <!-- <a href="{{ asset('photos/21.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/21.jpg') }}"
                                alt="la Gobinière"></a> -->

        </div>
</section>
{% endblock %}