{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<section id="galerie">
        <h2>Galerie photos</h2>
        <p>Retrouvez ici quelques photos du bagad en prestation :</p>
        <div class="container" id="conteneur-photos">
                <a href="{{ asset('photos/1.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/1.jpg') }}"
                                alt="Bagad Orvez"></a>
                <a href="{{ asset('photos/2.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/2.jpg') }}"
                                alt="Bagad Orvault"></a>
                <a href="{{ asset('photos/3.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/3.jpg') }}"
                                alt="prestation musique bretonne"></a>
                <a href="{{ asset('photos/4.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/4.jpg') }}"
                                alt="scène ensemble musical"></a>
                <a href="{{ asset('photos/5.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/5.jpg') }}"
                                alt="groupe musical"></a>
                <a href="{{ asset('photos/6.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/6.jpg') }}"
                                alt="sonneurs Bagad Orvez"></a>
                <a href="{{ asset('photos/7.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/7.jpg') }}"
                                alt="Bagad avec le drapeau"></a>
                <a href="{{ asset('photos/8.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/8.jpg') }}"
                                alt="défilé bagad"></a>
                <a href="{{ asset('photos/9.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/9.jpg') }}"
                                alt="prestation carnaval"></a>
                <a href="{{ asset('photos/10.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/10.jpg') }}"
                                alt="groupe de musique bagad"></a>
                <a href="{{ asset('photos/11.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/11.jpg') }}"
                                alt="caisses claires"></a>
                <a href="{{ asset('photos/12.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/12.jpg') }}"
                                alt="bombardes"></a>
                <a href="{{ asset('photos/13.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/13.jpg') }}"
                                alt="Bagad Orvez en noir et blanc"></a>
                <a href="{{ asset('photos/14.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/14.jpg') }}"
                                alt="concours de Carhaix"></a>
                <a href="{{ asset('photos/15.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/15.jpg') }}"
                                alt="concours de Carhaix 2"></a>
                <a href="{{ asset('photos/16.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/16.jpg') }}"
                                alt="répétition musicale"></a>
                <a href="{{ asset('photos/17.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/17.jpg') }}"
                                alt="Orvault bombardes"></a>
                <a href="{{ asset('photos/18.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/18.jpg') }}"
                                alt="Loire Atlantique défilé musical"></a>
                <a href="{{ asset('photos/19.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/19.jpg') }}"
                                alt="photo de groupe bagad"></a>
                <a href="{{ asset('photos/20.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/20.jpg') }}"
                                alt="défilé musical"></a>
                <a href="{{ asset('photos/22.jpg') }}" data-lightbox="mygallery"><img src="{{ asset('photos/22.jpg') }}"
                                alt="défilé musical 2"></a>


        </div>
</section>
{% endblock %}